
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.cafe-media-test{
	.form-wrapper{
		.form-group{
			h3, button{
				margin: 0;
				display: inline-block;
				vertical-align: middle;
			}
			h3{
				padding-right: 20px;
			}
			.json-encoded{
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}
		.alert-danger{
			list-style-type: none;
		}
	}
}